<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"> </script>
    <link rel="stylesheet" type="text/css" href='https://code.jquery.com/ui/1.12.1/themes/vader/jquery-ui.css'>
    <link rel="stylesheet" type="text/css" href='{% static "basic.css" %}'>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>