{% extends 'base_template.html' %}
{% block title %}Change Log{% endblock %}
{% block content %}
    <div>Change log</div>
    <ul>
        <li>v0.2.0a - Added Antorus parsers</li>
        <li>v0.1.7a - Added a basic avatar and KJ parser</li>
        <li>v0.1.6a - Added a good maiden parser</li>
        <li>v0.1.5a - Added Goroth, DI, Harj, Sisters, and Host</li>
        <li>v0.1.4a - Added really basic maiden stuff (bombs and wrong colors for heroic)</li>
        <li>v0.1.3a - Added death page, changed mistress scores</li>
        <li>v0.1.2a - Adjusted mistress scores, Added overall boss scores for the whole raid</li>
        <li>v0.1.1a - Added Interrupts / Dispels to Mistress, Fixed stacked hydra shots</li>
        <li>v0.1.0a - Created, Added Mistress</li>
    </ul>
{% endblock %}