{% extends 'base_template.html' %}
{% block title %}Parse{% endblock %}
{% block content %}
<div>
<span>Enter your raid ID here from warcraft logs: </span>
<input label="raid_id" type="text" name="raid_id" id="raid_id">
<input type="button" value="Start Parse" id="start_parse">
<input type="button" value="Start Live Parsing" id="start_live">
</div>

<div id="progressbar"></div>
<div id="progress_status"></div>

<script>
    $("#progressbar").progressbar({value: 0});

    $("#start_parse").click(function() {
        $("#progressbar").progressbar({value: 0});
        var raid_id = $("#raid_id").val();
        var status_func = setInterval(function() {
            $.ajax({
                url: '/parse/status/'+raid_id+'/',
                method: "get"
            }).done(function(json_str) {
                percent = json_str["process_percent"];
                $("#progressbar").progressbar({value: percent});
                if (percent >= 100.0) {
                    clearInterval(status_func);
                    $("#progress_status").text("Finished");
                }
            });
        }, 3000);
        $.ajax({
            url: '{% url "start_parse" %}',
            method: "POST",
            data: {"raid_id": raid_id, csrfmiddlewaretoken: "{{ csrf_token }}"}
        });
        $("#progress_status").text("Processing");
    });

    $("#start_live").click(function() {
        var raid_id = $("#raid_id").val();
        var repeat_parse_func = setInterval(function() {
            $.ajax({
                url: '{% url "live_parse" %}',
                method: "POST",
                data: {"raid_id": raid_id, csrfmiddlewaretoken: "{{ csrf_token }}"}
            });
        }, 120000);
        $("#progress_status").text("Running Live...");
    });

</script>
{% endblock %}