{% extends 'base_template.html' %}
{% block content %}
<div>
<span>Enter your raid ID here from warcraft logs: </span>
<input label="raid_id" type="text" name="raid_id" id="raid_id">
<input type="button" value="Start Parse" id="start_parse">
<input type="button" value="Start Legacy Parse" id="start_legacy_parse">
</div>

<script>
    $("#start_parse").click(function() {
        $.ajax({
            url: "http://127.0.0.1:8000/parse/start/",
            method: "POST",
            data: {"raid_id": $("#raid_id").val(), csrfmiddlewaretoken: "{{ csrf_token }}"}
        })
    });
</script>
{% endblock %}