{% extends 'base_template.html' %}
{% load dict_lookup %}
{% block title %}Detailed Fights View{% endblock %}
{% block content %}

    <div>{{ player.safe_name }}</div> <br />
    <div>{{ boss.grouper }}</div>
    <table class="score_table">
        <tr>
            <th></th>
            <th>Total</th>
            {% if score_objs.0.base_score %} <th>Base Score</th> {% endif %}
            {% for header in score_objs.0.table_keys %}
                <th><a href="#" title="{{ score_tooltips|get_item:header }}">{{header}}</a></th>
            {% endfor %}
        </tr>

        {% for score_obj in score_objs %}
        <tr>
            <td> Attempt {{score_obj.fight.attempt}} </td>
            <td> {{score_obj.total }} </td>
            {% if score_obj.base_score %} <td>{{ score_obj.base_score}}</td> {% endif %}
            {% for header in score_objs.0.table_keys %}
                <td>
                    {{ score_obj.score_dict|get_item:header}}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}

        <tr>
            <td>Totals</td>
            <td>{{ total_dict|get_item:"Total"}}</td>
            {% if base_score_total %} <td>{{ base_score_total }}</td> {% endif %}
            {% for header in score_objs.0.table_keys %}
                <td>{{ total_dict|get_item:header}}</td>
            {% endfor %}
        </tr>
    </table>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#score_chart_div">Score Chart</button>
<div id="score_chart_div" class="collapse">
    <canvas id="score_chart" width="400" height="200"></canvas>
</div>
<br /> <br />

<div><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#events">Events</button></div>
    <div id="events" class="collapse">
    {% for event in events %}
        <div>Attempt {{ event.fight.attempt }} ({{ event.minute }}:{{ event.second_string }}): {{ event.text }}</div>
    {% endfor %}
    </div>

<script>
var scores = {{totals}};
var health = {{health}};
var n = {{totals|length}};
var labels = [];
for (var i = 0; i < n; i++) {
  labels.push(i+1);
}
var ctx = document.getElementById("score_chart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            data: scores,
            label: "{{player.safe_name}}",
            fill: false,
            borderColor: "#3cba9f",
        },
        {
            data: health,
            label: "Boss health",
            fill: false,
            borderColor: "#ff626b",
        }
        ]
    },
    options: {
        responsive: true,
        tooltips: {
            mode: 'index',
            intersect: false
        },
        hover: {
            mode: 'nearest',
            intersect: true
        }
    }
});

$( function() {
    $( document ).tooltip();
});
</script>


{% endblock %}