{% extends 'base_template.html' %}
{% block title %}Raid {{raid.raid_id}}{% endblock %}
{% block content %}
    <table class="score_table" style='margin: 0px auto;'>
        <tr>
            {% for boss in avg_scores.0 %}
                <th>{{boss.name}}</th>
            {% endfor %}
        </tr>
        {% for row in avg_scores|slice:"1:" %}
        <tr>
            {% for col in row %}
                <td><a href='{% url "view_raid_player_details" raid_id=raid.raid_id player_id=col.1.id boss_id=col.2.boss_id %}'><b>{{col.1.safe_name}}</b> <em>{{col.0|floatformat}}</em></a></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br />

    {% for boss, score_list in final_totals %}
    <div >
        <div style="text-align: center;"><b>{{boss.name}}</b></div>
        <table class="score_table" style='margin: 0px auto;'>
            {% for row in score_list %}
            <tr>
                {% for val in row %}
                <td> {{ val }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br />
    </div>
    {% endfor %}

{% endblock %}