{% extends 'base_template.html' %}
{% load dict_lookup %}
{% block title %}Raid {{raid.raid_id}}{% endblock %}
{% block content %}

    {% for boss in boss_order %}
    <div >
        <div style="text-align: center;"><b>{{boss.name|safe}}</b></div>
        <table style='margin: 0px auto;'>
        <tr>
            <td class="boss_view_text_rankings">
                {% for player_score in avg_scores|get_item:boss %}
                <div><a href='{% url "view_raid_player_details" raid_id=raid.raid_id player_id=player_score.1.id boss_id=player_score.2.boss_id %}'><b>{{player_score.1.safe_name}}</b> <em>{{player_score.0|floatformat}}</em></a></div>
                {% endfor %}
            </td>
            <td>
                <canvas id="{{ boss.id }}_graph" width="800" height="400"></canvas>
            </td>

        </tr>
        </table>
    </div>
        <br />
    {% endfor %}

<script>
{% for boss, score_list in final_totals.items %}
var ctx = document.getElementById("{{ boss.id }}_graph").getContext('2d');
console.log(ctx);
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [
            {% for label, value in score_list %}
            {
                data: [{{ value }}],
                label: "{{ label|safe }}",
                backgroundColor: {% if value >= 0 %}"#c0ffa3"{% else %}"#ffa6a3"{% endif %}
            },
            {% endfor %}
        ]
    },
    options: {
        responsive: true
    }
});
{% endfor %}
</script>

{% endblock %}