{% extends 'base_template.html' %}
{% block title %}Raid {{raid.raid_id}}{% endblock %}
{% block content %}
    <table class="score_table">
        <tr>
            {% for boss in avg_scores.0 %}
                <th>{{boss}}</th>
            {% endfor %}
        </tr>
        {% for row in avg_scores|slice:"1:" %}
        <tr>
            {% for col in row %}
                <td><a href='{% url "view_raid_player_details" raid_id=raid.raid_id player_id=col.1.id boss_id=col.2.boss_id %}'>{{col.1.safe_name}} {{col.0|floatformat}}</a></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    {% for boss, score_list in final_totals.items %}
    <table class="score_table">
        {% for row in score_list %}
        <tr>
            {% for val in row %}
            <td> {{ val }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

{% endblock %}